@{
    ViewData["Title"] = "Home Page";
}

<body>
    <div class="row g-0 bg-body-secondary position-relative">
        <div class="col-md-6 mb-md-0 p-md-4">
            <img src="~/image/2dd8e258-0039-4cd6-a687-1f7319909edd_bd-1976-688.jpg_2200x2200q80.jpg" class="img-fluid" alt="Responsive image" />
        </div>
        <div class="col-md-6 p-4 ps-md-0">
            <h5 class="mt-0">Columns with stretched link</h5>
            <p>Another instance of placeholder content for this other custom component. It is intended to mimic what some real-world content would look like, and we're using it here to give the component a bit of body and size.</p>
            <a href="#" class="stretched-link">Go somewhere</a>
        </div>
    </div>



    <div class="container">
        <div class="row bg-light text-dark py-2 text-center">
            <div class="col">
                <h5 class="mb-0">Top Sell</h5>
            </div>
        </div>
    </div>
    <div class="mt-3 mb-4"></div>



    <div class="container text-center">
        <div class="row">
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="~/image/687811f1-9957-4794-98a7-77b25f04a50c_bd-1976-688.jpg_2200x2200q80.jpg" />
                    <div class="card-body">
                        <h5 class="card-title">Card with stretched links</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <p class="card-text">
                            <a href="#" class="stretched-link text-danger" style="position: relative;">Stretched link will not work here, because <code>position: relative</code> is added to the link</a>
                        </p>
                        <p class="card-text bg-body-tertiary" style="transform: rotate(0);">
                            This <a href="#" class="text-warning stretched-link">stretched link</a> will only be spread over the <code>p</code>-tag, because a transform is applied to it.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="~/image/ef26377d-be16-4527-b688-71f403244dbe_bd-1976-688.jpg_2200x2200q80.jpg" />
                    <div class="card-body">
                        <h5 class="card-title">Card with stretched links</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <p class="card-text">
                            <a href="#" class="stretched-link text-danger" style="position: relative;">Stretched link will not work here, because <code>position: relative</code> is added to the link</a>
                        </p>
                        <p class="card-text bg-body-tertiary" style="transform: rotate(0);">
                            This <a href="#" class="text-warning stretched-link">stretched link</a> will only be spread over the <code>p</code>-tag, because a transform is applied to it.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="~/image/f8cb7262-2218-4962-a087-f54c9a7ddc78_bd-1976-688.jpg_2200x2200q80.jpg" />
                    <div class="card-body">
                        <h5 class="card-title">Card with stretched links</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <p class="card-text">
                            <a href="#" class="stretched-link text-danger" style="position: relative;">Stretched link will not work here, because <code>position: relative</code> is added to the link</a>
                        </p>
                        <p class="card-text bg-body-tertiary" style="transform: rotate(0);">
                            This <a href="#" class="text-warning stretched-link">stretched link</a> will only be spread over the <code>p</code>-tag, because a transform is applied to it.
                        </p>
                    </div>
                </div>



            </div>


        </div>
    </div>

    <div class="mt-3 mb-4"></div>

    <div class="container text-center">
        <div class="row">
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="~/image/435988e3-7d6f-4261-bb0c-2c62362af350_bd-1976-688.jpg_2200x2200q80.jpg" />
                    <div class="card-body">
                        <h5 class="card-title">Card with stretched links</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <p class="card-text">
                            <a href="#" class="stretched-link text-danger" style="position: relative;">Stretched link will not work here, because <code>position: relative</code> is added to the link</a>
                        </p>
                        <p class="card-text bg-body-tertiary" style="transform: rotate(0);">
                            This <a href="#" class="text-warning stretched-link">stretched link</a> will only be spread over the <code>p</code>-tag, because a transform is applied to it.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="~/image/4d8cd320-606a-4c60-8d78-f78aca777c73_bd-1976-688.jpg_2200x2200q80.jpg" />
                    <div class="card-body">
                        <h5 class="card-title">Card with stretched links</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <p class="card-text">
                            <a href="#" class="stretched-link text-danger" style="position: relative;">Stretched link will not work here, because <code>position: relative</code> is added to the link</a>
                        </p>
                        <p class="card-text bg-body-tertiary" style="transform: rotate(0);">
                            This <a href="#" class="text-warning stretched-link">stretched link</a> will only be spread over the <code>p</code>-tag, because a transform is applied to it.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="~/image/foryou/latest jeans.jpeg" />
                    <div class="card-body">
                        <h5 class="card-title">Card with stretched links</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <p class="card-text">
                            <a href="#" class="stretched-link text-danger" style="position: relative;">Stretched link will not work here, because <code>position: relative</code> is added to the link</a>
                        </p>
                        <p class="card-text bg-body-tertiary" style="transform: rotate(0);">
                            This <a href="#" class="text-warning stretched-link">stretched link</a> will only be spread over the <code>p</code>-tag, because a transform is applied to it.
                        </p>
                    </div>
                </div>



            </div>


        </div>

        <div class="mt-3 mb-4"></div>


        <div class="container">
            <div class="row bg-light text-dark py-2 text-center">
                <div class="col">
                    <h5 class="mb-0">Just For You</h5>
                </div>
            </div>



        </div>
        <div class="mt-3 mb-4"></div>



        <div class="container text-center">
            <div class="row">
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img src="~/image/foryou/shirt-img.jpg" />
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img src="~/image/foryou/shoes-img.jpg" />
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img src="~/image/foryou/smart watch.jpeg" />
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>

                <div class="mt-3 mb-4"></div>

                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img src="~/image/foryou/vacuam bottle.jpeg" />
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>









</body>

